[submodule "cccc"]
	path = cccc
	url = https://aur@aur4.archlinux.org/cccc.git
	pushurl = ssh+git://aur@aur4.archlinux.org/cccc.git
[submodule "webalizer-xtended"]
	path = webalizer-xtended
	url = https://aur@aur4.archlinux.org/webalizer-xtended.git
	pushurl = ssh+git://aur@aur4.archlinux.org/webalizer-xtended.git
[submodule "_debian/dh-autoreconf"]
	path = _debian/dh-autoreconf
	url = https://aur@aur4.archlinux.org/dh-autoreconf.git
	pushurl = ssh+git://aur@aur4.archlinux.org/dh-autoreconf.git
