[submodule "cccc"]
	path = cccc
	url = https://aur@aur4.archlinux.org/cccc.git
[submodule "webalizer-xtended"]
	path = webalizer-xtended
	url = https://aur@aur4.archlinux.org/webalizer-xtended.git
[submodule "_debian/dh-autoreconf"]
	path = _debian/dh-autoreconf
	url = https://aur@aur4.archlinux.org/dh-autoreconf.git
[submodule "tmake"]
	path = tmake
	url = https://aur@aur4.archlinux.org/tmake.git
[submodule "statsvn"]
	path = statsvn
	url = https://aur@aur4.archlinux.org/statsvn.git
[submodule "voglperf"]
	path = voglperf
	url = https://aur@aur4.archlinux.org/voglperf.git
[submodule "ruby-svn"]
	path = ruby-svn
	url = https://aur@aur4.archlinux.org/ruby-svn.git
[submodule "_addon-sdk/addon-sdk-git"]
	path = _addon-sdk/addon-sdk-git
	url = https://aur@aur4.archlinux.org/addon-sdk-git.git
[submodule "holyspirit-svn"]
	path = holyspirit-svn
	url = https://aur@aur4.archlinux.org/holyspirit-svn.git
[submodule "_debian/bzr-gtk"]
	path = _debian/bzr-gtk
	url = https://aur@aur4.archlinux.org/bzr-gtk.git
[submodule "_debian/bzr-gtk-bzr"]
	path = _debian/bzr-gtk-bzr
	url = https://aur@aur4.archlinux.org/bzr-gtk-bzr.git
[submodule "_lio/python2-ethtool"]
	path = _lio/python2-ethtool
	url = https://aur@aur4.archlinux.org/python2-ethtool.git
[submodule "_debian/bzr-gtk-gtk2"]
	path = _debian/bzr-gtk-gtk2
	url = https://aur@aur4.archlinux.org/bzr-gtk-gtk2.git
[submodule "_debian/bzrlog"]
	path = _debian/bzrlog
	url = https://aur@aur4.archlinux.org/bzrlog.git
[submodule "_debian/bzr-stats"]
	path = _debian/bzr-stats
	url = https://aur@aur4.archlinux.org/bzr-stats.git
[submodule "_musicbrainz/python-discid"]
	path = _musicbrainz/python-discid
	url = https://aur@aur4.archlinux.org/python-discid.git
[submodule "_musicbrainz/python-musicbrainzngs"]
	path = _musicbrainz/python-musicbrainzngs
	url = https://aur@aur4.archlinux.org/python-musicbrainzngs.git
[submodule "_musicbrainz/isrcsubmit"]
	path = _musicbrainz/isrcsubmit
	url = https://aur@aur4.archlinux.org/isrcsubmit.git
[submodule "_musicbrainz/acoustid-fingerprinter"]
	path = _musicbrainz/acoustid-fingerprinter
	url = https://aur@aur4.archlinux.org/acoustid-fingerprinter.git
[submodule "_suse/rpm-org"]
	path = _suse/rpm-org
	url = https://aur@aur4.archlinux.org/rpm-org.git
[submodule "_debian/qbzr"]
	path = _debian/qbzr
	url = https://aur@aur4.archlinux.org/qbzr.git
[submodule "_debian/dh-make"]
	path = _debian/dh-make
	url = https://aur@aur4.archlinux.org/dh-make.git
[submodule "_debian/python-debian"]
	path = _debian/python-debian
	url = https://aur@aur4.archlinux.org/python-debian.git
[submodule "_vimwiki/vim-vimwiki"]
	path = _vimwiki/vim-vimwiki
	url = https://aur@aur4.archlinux.org/vim-vimwiki.git
[submodule "_musicbrainz/picard-plugins-search"]
	path = _musicbrainz/picard-plugins-search
	url = https://aur@aur4.archlinux.org/picard-plugins-search.git
[submodule "_debian/bzr-explorer"]
	path = _debian/bzr-explorer
	url = https://aur@aur4.archlinux.org/bzr-explorer.git
